#include <windows.h>

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4" // U.S. English, Unicode
        BEGIN
            VALUE "CompanyName",      "Simple Shell Project"
            VALUE "FileDescription",  "Simple Shell - A modern UI shell with UTF-8 support"
            VALUE "FileVersion",      "1.0.0.0"
            VALUE "InternalName",     "hsh"
            VALUE "LegalCopyright",   "Copyright (C) 2023"
            VALUE "OriginalFilename", "hsh.exe"
            VALUE "ProductName",      "Simple Shell"
            VALUE "ProductVersion",   "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252 // U.S. English, Unicode
    END
END

// Application Icon
// Note: You would need to create an icon file (shell.ico) and place it in the src directory
1 ICON "shell.ico" 

// Manifest to enable visual styles
1 24 "shell.manifest" 